In [4]:
# data science imports
import pandas as pd
import matplotlib.pyplot as plt

# census data imports
import censusdis.data as ced
import censusdis.maps as cem

# other imports
import os

In [6]:
with open ("../census_api_key.txt", "r") as f:
    CENSUS_API_KEY = f.read().strip()

# print(CENSUS_API_KEY)

In [3]:
df_datasets = ced.variables.all_data_sets()
df_datasets.to_csv("../data/datasets.csv", index=False)
df_datasets.head()

,YEAR,SYMBOL,DATASET,TITLE,DESCRIPTION,API BASE URL
0,1986,CBP,cbp,1986 County Business Patterns: Business Patterns,County Business Patterns (CBP) is an annual se...,http://api.census.gov/data/1986/cbp
1,1987,CBP,cbp,1987 County Business Patterns: Business Patterns,County Business Patterns (CBP) is an annual se...,http://api.census.gov/data/1987/cbp
2,1988,CBP,cbp,1988 County Business Patterns: Business Patterns,County Business Patterns (CBP) is an annual se...,http://api.census.gov/data/1988/cbp
3,1989,CBP,cbp,1989 County Business Patterns: Business Patterns,County Business Patterns (CBP) is an annual se...,http://api.census.gov/data/1989/cbp
4,1989,CPS_BASIC_APR,cps/basic/apr,Apr 1989 Current Population Survey: Basic Monthly,"To provide estimates of employment, unemployme...",http://api.census.gov/data/1989/cps/basic/apr

https://censusreporter.org/topics/housing/

In [19]:
table = "B25003"
var_table = ced.variables.all_variables("acs/acs1", 2023, table)
var_table.head()

# ced.variables.group_tree("acs/acs1", 2023, table)

,YEAR,DATASET,GROUP,VARIABLE,LABEL,SUGGESTED_WEIGHT,VALUES
0,2023,acs/acs1,B25003,B25003_001E,Estimate!!Total:,NaN,None
1,2023,acs/acs1,B25003,B25003_002E,Estimate!!Total:!!Owner occupied,NaN,None
2,2023,acs/acs1,B25003,B25003_003E,Estimate!!Total:!!Renter occupied,NaN,None
3,2023,acs/acs1,B25003,GEO_ID,Geography,NaN,None
4,2023,acs/acs1,B25003,NAME,Geographic Area Name,NaN,None

In [45]:
import re

In [53]:
variables = var_table.set_index("VARIABLE")["LABEL"].str.replace(r".*?!!","", regex = True).to_dict()
variables

{'B25003_001E': 'Total:',
 'B25003_002E': 'Owner occupied',
 'B25003_003E': 'Renter occupied',
 'GEO_ID': 'Geography',
 'NAME': 'Geographic Area Name'}